@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Mooli&display=swap');

#content {
max-width: 1600px;
margin: 0 auto;
}
nav a {
    text-align: center;
    color: #212F45;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #DFE7FD;
    font-family: "Mooli", "Lumanisimo", "San-serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #E2ECE9;
}
nav a:hover {
    background-color: #BEE1E6;
    color: #006466;
}
.book, .join {
background-color: #BEE1E6;
color: #272640;
text-decoration: none;
font-family: "Mooli", "Lumanisimo", "San-serif";
font-size: 18px;
padding: 15px 30px;
margin-top: 50px;
border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #BEE1E6;
    color: #272640;
}
#background {
    background-color: #F0EFEB;
}
.msg {
    background-color: #EAE4E9;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #E2ECE9 ;
    color: #212F45;
    margin-top: 200px;
}
footer a {
    color: #3E1F47;
    text-decoration: none;
}
footer a:hover {
    color:#272640 ;
}
.home-title {
    color:#8a1ea8 ;
    font-family: "Lumanosimo", "Mooli", "Sans-serif";
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #3E1F47;
}
.msg h2 {
    color: #3E1F47;
    font-family: "Lumanosimo", "Mooli", "Sans-serif";
}
.msg p {
    color: #3E1F47;
    font-family: "Mooli", "Lumanisimo", "Sans-serif";
    font-size: .8em;
    padding-bottom: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
    padding-top: 5px;
}
footer p {
    font-size: 1.2em;
    padding: 25px 50px;
}
footer p a:hover {
    text-decoration: underline;
}
#hero img {
    width: 100%;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #272640;
}
main section img {
    box-sizing: border-box;
}